/NLP_algorithm_auth_key/
/Rss_scraper_auth_key/
/Próbne algorytmy/
/Old/
/word2vec/
/word2vec_pretrained_aspect_sentiment/
/nlpdb.sqbpro
/nlpdb.db
/Load_to_GCP
/nlp_plot
.idea
__pycache__
/_init_.py
/nltk_main.py
/nltk_test.py
/schematBQ.txt
/utils.py
Scraper/Scraper/spiders/*.csv
Scraper/Scraper/spiders/*.json