/NLP_algorithm_auth_key/
/Rss_scraper_auth_key/
/Nowy folder/
/Próbne algorytmy/
/Old/
/word2vec/
/word2vec_pretrained_aspect_sentiment/
/nlpdb.sqbpro
/nlpdb.db
/Load_to_GCP
/nlp_plot
/.idea
/_pycache_
/_init_.py
/nltk_main.py
/nltk_test.py
/schematBQ.txt
/utils.py